@import url('https://fonts.googleapis.com/css?family=Yeseva+One&display=swap');
@font-face {
    font-family: "FuturaBookC";
    src: url("../assests/font/Futurabookc.otf") format("opentype");
}
@font-face {
    font-family: "Futurademic";
    src: url("../assests/font/FuturaDemic.otf") format("opentype");
}
@font-face {
    font-family: "ProximaNova";
    src: url("../assests/font/ProximaNova.ttf") format("truetype");
}

$bgcolor: #131313;
$color: #FFFFFF;
$graycolor:#363636;
$ltgraycolor:#959595;
$actcolor:#E3B873;
$navsize: 14px;
$mainsize: 15px;
$hdrsize:18px;
$listsize: 20px;
$hfont:'Yeseva One', cursive;
$mainfont:'FuturaBookC';
$logofont:'Futurademic';
$navfont:'ProximaNova';

@mixin flex() {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin lightbox()  {
    background: #FFFFFF url(../assests/images/BACKGROUND_LINE.jpg) no-repeat center 0;
    color: $graycolor;
}
@mixin btn() {
    text-transform: uppercase;
    color: $color;
    background:$actcolor;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 10px 10px 10px #E3B87332;
    &:hover{
        box-shadow: inset 0 0 14px #FFFFFF;
    }
}
@mixin headers {
    text-transform: uppercase;
    font-family: $hfont; 
    line-height: 138.6%; 
}
@mixin section-headers{
    @include headers();
    max-width: 200px;
    text-align: center;
    padding-bottom: 40px;  
    font-size: 20px;
    line-height: 1.3;
    margin: 0 auto 30px;
}
@mixin descr-before() {
    content: "";
    height: 1px;
    background: #E3B873;
    display: inline-block;
    vertical-align: middle;
    width: 55px;
    position: absolute;
    left: 50%;
    margin-left: -28px;
    top: -35px;
}
@mixin after() {
    content: "";
    height:1px;
    background:$actcolor;
    display: inline-block;
    vertical-align: middle;
}
@mixin label() {
    opacity: 0.5;
    font-size: 15px;
}
@mixin field() {
    font-size: $listsize;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding:0 0 8px;
    margin:0;
    &::placeholder { 
         opacity:1
        }
}
@mixin agreement() {
    font-size:16px;
    input {
        display: none;
        width: 18px;
        height: 18px;
        vertical-align: middle;
        }
    span{
        position: relative;
        padding-left:25px;
        display:inline-block;
        &::before{
            @include after();
            width: 18px;
            height: 18px;
            position: absolute;
            top:0;
            left:0;
            cursor: pointer;
        }            
    }
    input:checked + span::before{
         background: $actcolor url(../assests/images/ico1.png) no-repeat 0 center;
    }       
}
@mixin descr {
    font-size: $listsize;
    line-height: 1.6;
    text-align:center;
}
@mixin center-block(){
    max-width: 1236px;
    margin:0 auto;
}
@mixin flex-col-3(){
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; 
    & > div{
        width: 31.7%;
    }
}
@mixin tblock() {
    background: #FFFFFF;
    margin: 75% 8% 0;
    padding: 25px 29px 49px 34px;
    position: relative;
    box-shadow: 10px 10px 10px #80808005;   
    h4{
        font-family:$hfont;
        font-size: 20px;
        margin: 0 0 10px;
    }
    ul{
        color:$ltgraycolor;
        font-size: 15px;
        list-style: disc;
        list-style-position: inside;
        li{
            margin-bottom: 8px;
        }
    }
    .position{
        color: $ltgraycolor; 
        font-size: $hdrsize;
        margin-bottom:24px;
    }
    .experience{
        font-family:$hfont;
        text-transform: uppercase;
        color: #FFFFFF;
        background: #E3B873;
        height: 44px;
        font-weight: bold;
        font-size: 13px;
        line-height: 44px;
    }
    .price{
        text-transform: uppercase;
        color: #FFFFFF;
        background: #E3B873;
        box-shadow: 10px 10px 10px #E3B87332;
        position: absolute;
        left: 0;
        bottom: -27px;
        height: 54px;
        width: 228px;
        font-weight: bold;
        font-size: $hdrsize;
        line-height: 54px;
        text-align: center;
    }
}
@mixin section-hdr() {
    width: 253px;
    position: relative;
    &::after{
            content: "";
            height: 1px;
            background: #E3B873;
            display: inline-block;
            vertical-align: middle;
            width: 92px;
            position: absolute;
            right: 0px;
            bottom: 18px;
    }
}
@mixin pagination() {
    span{
        display: inline-block;
        vertical-align: middle;
        margin-right: 15px;
        cursor: pointer;
        &.pagination__left, &.pagination__right{
            background: url(../assests/images/vector.png) no-repeat 0 0;
            width:42px;
            height: 14px;
            margin-right: 25px;
        }
        &.pagination__right{
            transform: rotate(180deg);
            margin-right: 0;
            margin-left: 10px;
        }
        &.pagination__item{
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: #5a5a5a;
            &.pagination__item_active, &:hover{
                background: $color;
            }
        }
    }
}
body{
    background: $bgcolor;
    color: $color; 
    font-family: $mainfont;
    height: 100vh;
    font-size: $mainsize;
    line-height: 138.6%; 

}
a{
    color: inherit;
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
p{
    margin:0;
    line-height: 1.35;
}
.wrapper{
    margin:0 auto;
    max-width: 1440px;
    border: 1px solid #FFFFFF;
}
h2{
    @include headers();
    margin:0 0 20px;
    font-size: 40px;
    line-height: 132.8%;
    span{
        color:$actcolor;
    }
}
h3{
    @include headers();
    color: $actcolor;
    margin:0 0 30px;
    font-size: 27px;
}
button{
    @include btn();
}
header{
    height:83px;
    font-size: $navsize;
    @include flex();
    padding-left: 82px;
    text-transform: uppercase;
    box-sizing: border-box;
    h1{
        font-size:1px;
        line-height: 1;
        color: $bgcolor;
        text-indent: -999px;
    }
    .logo{
        color:$actcolor;
        font-family: $logofont;
        white-space: nowrap;
    }
    .navbar{
        width: 100%;
        max-width:580px;
        min-width: 400px;
        margin: 0 6.3%;

        ul{
            @include flex();            
            li a{
                display:block;
                line-height:1;
                text-align: center;
                position: relative;
                &:hover{
                color: $actcolor;
                text-decoration: none;
                }
            }
        }
    }
}
.callback{
    font-family: $logofont;
    @include flex();
    width: 325px;
    margin-right: 7.52%;
    .callback__link{
        color: $actcolor;
        text-decoration:underline; 
    }
    .callback__btn{
        width:161px;
        height:37px;
        &:hover{
            box-shadow: inset 0 0 14px #FFFFFF;
        }
    }
}
.calculate-section{
    padding-left: 82px; 
    padding-bottom: 48px;   
    position: relative;
    .project-slide{
        background:url(../assests/images/section1_bg.jpg) no-repeat 0 0 ;
        height: 707px;
        @include flex();
        .calculate-block{
            width:530px;
            margin-left: 60px;
            position: relative;
            top: -7px;
            .calculate-block__text{
                font-size:22px;
                margin-bottom:45px;
            }
            .calculate-block__form button{
                height: 51px;
                width: 207px;
                margin-right: 20px;
                font-size: 13px;
                &.calculate-block__form_submit{
                    background: none;
                    border: 1px solid $color;
                    box-shadow: none;
                }
            }
        }
    }
    .soc-panel{
        height: 82px;
        width: 707px;
        position: absolute;
        top: 312px;
        left: -312px;
        transform: rotate(90deg);
        text-align: center;
    }
    .soc-panel__network{
        display:inline-block;
        margin-top: 30px;
        margin-right: 110px;
        text-transform: uppercase;
        font-size: $navsize;
        color:$actcolor;
        &::after{
            @include after();
            width: 51px;
            margin-left: 8px;
        }
    }
    .scroll-panel{
        @include headers();
        background: $bgcolor;
        cursor: pointer;
        height: 97px;
        width: 247px;
        position: absolute;
        bottom: 0;
        left: 0;
        text-align: center;
        z-index: 2;
        .scroll-panel__btn{
            display:inline-block;
            margin-top: 34px;
            font-size: $navsize;
        }
        .scroll-panel__svg{
            margin-left: 20px;
            vertical-align: middle;
            margin-bottom: 3px;
            }
        &:hover .scroll-panel__svg {
            fill:$color;
        } 
    }
}
.completed-projects-section{
    position: relative;
    padding-bottom:217px;
    .projects-slides{
        @include flex();
        align-items: normal;
        .projects-slides__info{
            width:440px;
            margin-left:7%;
            padding-top:128px;
            h3{
                width: 253px;
                position: relative;
                &::after{
                    @include after();
                    width:92px;
                    position: absolute;
                    right: 0px;
                    bottom: 18px;
                }
            }
            p{
                font-size: $hdrsize;
                line-height: 1.52;
                margin-bottom: 40px;
            }
            .information{
                @include flex();
                justify-content: flex-start;
                flex-wrap: wrap;
                margin-bottom:60px;
                .information__item{
                    width:42%;
                    margin-bottom: 35px;
                    padding-right: 2%;
                    box-sizing: border-box;
                    .hdr{
                        color:$actcolor;
                        @include headers();
                        font-size: $hdrsize;
                        margin-bottom: 5px;
                    }
                }
            }
            .pagination{
              @include pagination();
            }
        }
        .projects-slides__visual{
            padding-top:59px;
            width: 845px;
            flex: 0 0 845px;
            overflow: hidden;
            .project-nav{
                @include flex();
                justify-content: flex-start;
                margin-bottom: 45px;
                li{
                    @include headers();
                    opacity: 0.3;
                    margin-right: 60px;
                    cursor: pointer;
                    padding-bottom: 7px;
                    &:hover{
                        opacity: 1;
                    }
                    &.project-nav__item_active{
                        opacity: 1;
                        color: $actcolor;
                        border-bottom: 1px solid $actcolor;
                    }
                }
            }
            .projects-slides-container{
                @include flex();
                position: relative;
                margin-bottom: 35px;
                .projects-slides-container__item1{
                    width:679px;
                    margin-right: 20px;
                }
            }
            .projects-navigation{
                width: 100%;
                height: 55px;
                position: relative;
                top: -50%;
                span{
                    background:$actcolor url(../assests/images/nav.png) no-repeat center center;
                    display: block;
                    position: absolute;
                    width: 55px;
                    height: 55px;
                    border-radius: 50%;
                    cursor: pointer;
                    margin-top:27px;
                    text-indent: -9999px;
                    box-shadow: 0 0 5px $actcolor;
                    &:hover{
                        box-shadow: 0 0 10px $color;
                    }
                    &.projects-navigation__prev{
                        display: none;
                    }
                    &.projects-navigation__next{
                        right:45px;
                    }
                } 
            }  
        }       
    }
    .online-control{
        background: url(../assests/images/online.png) no-repeat center bottom;
        @include section-headers();
    }
    .video-container{
        text-align: center;
        z-index: 2;
        position: absolute;
        bottom:-217px;
        left:50%;
        margin-left:-408px;
    }
}
.types-of-repair-section{
    @include lightbox();
    position: relative;
    padding-top: 98px+219px;
    padding-bottom:240px;
    .types-of-repair-section__descr{
        @include descr();
        max-width: 680px;
        margin:0 auto 90px;
        position: relative;
        &::before{
            @include descr-before();
        }
    }
    .types-of-repair__form{
        margin: 0 auto 140px;
        max-width: 770px;
    }
    .types-of-repair__wrap{
        @include flex();
        label{
            @include label();
        }
        input{
            max-width:231px;
            @include field();             
        }
        button{
            @include btn();
            width:200px;
            height:51px;
            font-size: $mainsize;
        }
    }
    .types-of-repair__agreement{
        padding-top:33px;
        text-align:center;
       @include agreement();              
    }
    .types-of-repair__hdr{
        background: url(../assests/images/types.png) no-repeat center bottom;
        @include section-headers();
    }
    .types-of-repair__content{
        @include center-block();
        @include flex-col-3();
        margin-bottom:125px;
        .types-of-repair__item1{
            background:url(../assests/images/type1.jpg) no-repeat center top;
        }
        .types-of-repair__item2{
            background:url(../assests/images/type2.jpg) no-repeat center top;
        }
        .types-of-repair__item3{
            background:url(../assests/images/type3.jpg) no-repeat center top;
        }
        .types-of-repair__tblock{
            @include tblock();
            &.active{
                background: #f9f9f9;
              
            }
        }
    }
    .measurements{
        margin:0;
        @include flex();
        justify-content: flex-start;
        align-items: flex-start;
        .measurements__steps{
            position: relative;
            background: url(../assests/images/measure.png) no-repeat right 0;
            height: 692px;
            max-width: 780px;
            width:60%;
            margin-right: 3.7%;
            font-size: $hdrsize;
            & > div{
                position: absolute;
                display: flex;
                &::before{
                    @include after();
                    width:42px;
                    height: 42px;
                    line-height:42px;
                    border-radius:50%;
                    color:$color;
                    font-family: $hfont;
                    text-align: center;
                    position: relative;
                    left: -15px;
                    min-width: 42px;
                }
                &.measurements__step1{
                    top:117px;
                    right:0px;
                    width:407px;
                    &::before{
                        content:"01";
                    }
                }
                &.measurements__step2{
                    top: 228px;
                    right: 194px;
                    &::before{
                        content:"02";
                    }
                }
                &.measurements__step3{
                    top: 389px;
                    right: 150px;
                    &::before{
                        content:"03";
                    }
                }
                &.measurements__step4{
                    bottom: 101px;
                    right: 122px;
                    &::before{
                        content:"04";
                    }
                }
            }
        }
    }
    .measurements__form{
        width:506px;
        margin-top: 100px;
        form{
            background: $bgcolor;
            color: $color;
            padding:28px 49px 27px;
            margin: 0 0 38px;
            h4{
                text-align: center;
                margin:0 0 35px;
                font-size:$listsize;
            }
            &>div{
                margin-bottom:45px;
                &.data3{
                    margin-bottom:15px;
                }
                label{
                    @include label();
                }
                input[type="text"]{
                    @include field();
                    border-bottom: 1px solid rgba(250, 250, 250, 0.1);
                    background: none;
                    color: $color;
                    width:100%;
                }
            }
            .request__agreement{
                @include agreement();
                margin-bottom:45px;
            }
            button{
                width: 213px;
                height: 51px;
                border-radius: 0;
                margin:0 0 0 auto;
                display: block;
            }
        }
    }
    .help-save{
        @include flex();
        justify-content: flex-start;
        margin:0 auto;
        max-width: 440px;
        color:$actcolor;
        font-size: $listsize;
        font-family: $logofont;
        .help-save__icon{
            @include btn();
            background: $actcolor url(../assests/images/ico2.png) no-repeat center center;
            box-shadow: 0px 0px 10px #E3B87332;
            width:72px;
            height: 72px;
            border-radius:50%;
            margin-right: 25px;
            cursor: default;
        }
    }
}
.your-fantasies-section{
    height: 863px;
    padding:0 7%;
    position: relative;
    background: url(../assests/images/Group-22.jpg) no-repeat center center;
    @include flex();
    box-sizing: border-box;
    .your-fantasies-section__navigator{
        width:410px;
        font-size: $listsize;
        h3{
            @include headers();
        }
        ul{
            padding-top:15px;
             li{
                font-family: $navfont;
                margin-bottom:17px;
                span{
                    padding-bottom: 8px;
                    cursor: pointer;
                    display: inline-block;
                    border-bottom: 1px solid transparent;
                    &:hover, &.active{
                        color: $actcolor;
                        border-bottom: 1px solid $actcolor;
                    }
                }
             }
        }
    }
    .your-fantasies-section__slides{
        width: 750px;
        height: 100%;
        position: relative;
        img{
            position: absolute;
            &.your-fantasies-section__slide1{
                top:-40px;
                left:0px;
            }
            &.your-fantasies-section__slide2{
                top:-113px;
                right:0px;
            }
            &.your-fantasies-section__slide3{
                bottom:-41px;
                left:0px;
            }
            &.your-fantasies-section__slide4{
                bottom:40px;
                right:0px;
            }
        }
    }
}
.design-project-section{
    background: $color;
    color:$graycolor;
    padding-top:152px;
    .design-project-section__hdr{
        @include section-headers();
        background: url(../assests/images/des.png) no-repeat center bottom;
        margin:0 auto 23px;
    }
    .design-project-section__descr{
        @include descr();
        margin:0 auto 39px;
        max-width:750px;
    }
    .design-project-section__content{
        @include center-block();
        @include flex-col-3();
        align-items: flex-start;
        position: relative;
        top: 465px;
        margin-top: -465px;
        .design-project-section__item1{
            background: url(../assests/images/des1.jpg) no-repeat center 0;
        }
        .design-project-section__item2{
            background: url(../assests/images/des2.jpg) no-repeat center 0;
        }
        .design-project-section__item3{
            background: url(../assests/images/des3.jpg) no-repeat center 0;
        }
        .design-project-section__tblock{
            @include tblock();
        }
    }
}
.goal-section{
    @include center-block();
    @include flex();
    align-items: flex-start;
    padding-top:440px;
    .goal-section__steps{
        width:340px;
        .h3{
            font-family: $logofont;
            text-transform: uppercase;
            margin-bottom:15px;
        }
        h3{
            @include section-hdr();
            margin-bottom:90px;
        }
        .steps{
            font:$hdrsize $hfont;
            margin-bottom:$hdrsize;
        }
        .step_hdr{
            @include headers();
            color:$actcolor;
            margin-bottom:$hdrsize;
        }
        p{
            margin-bottom:10px;
            line-height: 1.6;
        }
        .pagination{
            @include pagination();
            margin-top:80px;
        }
    }
    .goal-section__content{
        max-width: 765px;
        margin-top:92px;
        .goal-section__navigator{
            @include flex-col-3();
            align-items: flex-start;
            margin-bottom:15px;
            & > div{
                margin-bottom:35px;
                opacity: 0.3;
                cursor: pointer;
                max-width: 136px;
                margin-right: 12%;
                &:nth-child(3n){
                    margin-right: 0;
                    max-width: 100px;
                }
                &.goal-section__step_active, &:hover{
                    opacity: 1;
                }
                .goal-step__nmb{
                    border-bottom: 1px solid $actcolor;
                    font-family: $hfont;
                    margin-bottom:5px;
                    display:inline-block;
                }
            }
        }
    }
}
.team-section{
    padding-top:95px;
    position: relative;
    bottom: -502px;
    z-index: 2;
    margin-top: -502px;
    .team-section__hdr{
        @include section-headers();
        background: url(../assests/images/team.png) no-repeat center bottom;
        margin:0 auto 23px;
    }
    .team-section__descr{
        @include descr();
        margin:0 auto 90px;
        max-width:470px;
        &.about{
            position: relative;
            max-width: 560px;
            color:$graycolor;
            margin-bottom:0;
            &::before{
                @include descr-before();
                top:-15px;
            }
        }
    }
    .team-section__people{
        @include flex-col-3();
        max-width: 1030px;
        margin:0 auto 60px;
        align-items: flex-start;
        & > div{
            width: 26.55%;
            max-width: 270px;
            position: relative;
            &::after{
                @include after();
                width: 70px;
                height: 70px;
                position: absolute;
                top:-35px;
                left:-35px;
                box-shadow: 0px 3px 10px #E3B87392;
                background-repeat: no-repeat;
                background-position: center center;
            }   
        }

        .team-section__item1{
            background: url(../assests/images/person1.jpg) no-repeat center top;
            &::after{
                background-image: url(../assests/images/pers1.png);
            }
        }
        .team-section__item2{
            background: url(../assests/images/person2.jpg) no-repeat center top;
            &::after{
                background-image: url(../assests/images/pers2.png);
            }
        }
        .team-section__item3{
            background: url(../assests/images/person3.jpg) no-repeat center top;
            &::after{
                background-image: url(../assests/images/pers3.png);
            }
        }
        .team-section__tblock{
            @include tblock();
            margin: 102% 8% 0;
            padding: 22px 0 0;
            text-align: center;
            color:#181818;
        }
    }
}
.client-section{
    padding-top: 590px;
    @include lightbox();
    .client-section__hdr{
        @include section-headers();
        background: url(../assests/images/clients.png) no-repeat center bottom;
    }
    .client-section__descr{
        @include descr();
        max-width:350px;
        margin:0 auto 40px;
    }
    .client-section__content{
        @include center-block();
        @include flex-col-3();
        &> div {
            width: 30.43%;
            background: $color;
            box-shadow: 0 0 22px #bcabab33;
            .client-section__tblock{
                padding:20px 32px 0 20px;
                position: relative;
                h4{
                    font-family:$hfont;
                    font-size: 20px;
                    margin: 0 0 20px;
                    @include flex();
                }
                p{
                    color:$ltgraycolor;
                }
            }   
        }

    }
}