@import url('https://fonts.googleapis.com/css?family=Yeseva+One&display=swap');
@font-face {
    font-family: "FuturaBookC";
    src: url("../assests/font/Futurabookc.otf") format("opentype");
}
@font-face {
    font-family: "Futurademic";
    src: url("../assests/font/FuturaDemic.otf") format("opentype");
}

$bgcolor: #131313;
$color: #FFFFFF;
$actcolor:#E3B873;
$navsize: 14px;
$hfont:'Yeseva One', cursive;
$mainfont:'FuturaBookC';
$logofont:'Futurademic';

@mixin flex() {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin btn() {
    text-transform: uppercase;
    color: $color;
    background:$actcolor;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    &:hover{
        box-shadow: inset 0 0 14px #FFFFFF;
    }
}
@mixin headers {
    text-transform: uppercase;
    font-family: $hfont;   
}
@mixin section-headers{
    max-width: 200px;
     text-align: center;
    padding-bottom: 40px;  
    font-size: 20px;
    line-height: 1.3;
}
@mixin after() {
    content: "";
    height:1px;
    background:$actcolor;
    display: inline-block;
    vertical-align: middle;
}

body{
    background: $bgcolor;
    color: $color; 
    font-family: $mainfont;
    height: 100vh;
}
a{
    color: inherit;
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
p{
    margin:0;
    line-height: 1.35;
}
.wrapper{
    margin:0 auto;
    max-width: 1440px;
    border: 1px solid #FFFFFF;
}
h2{
    @include headers();
    margin:0 0 20px;
    font-size: 40px;
    line-height: 132.8%;
    span{
        color:$actcolor;
    }
}
h3{
    @include headers();
    color: $actcolor;
    margin:0 0 30px;
    font-size: 27px;
    line-height: 138.6%;
}
button{
    @include btn();
}
header{
    height:83px;
    font-size: $navsize;
    @include flex();
    padding-left: 82px;
    text-transform: uppercase;
    box-sizing: border-box;
    h1{
        font-size:1px;
        line-height: 1;
        color: $bgcolor;
        text-indent: -999px;
    }
    .logo{
        color:$actcolor;
        font-family: $logofont;
        white-space: nowrap;
    }
    .navbar{
        width: 100%;
        max-width:580px;
        min-width: 400px;
        margin: 0 6.3%;

        ul{
            @include flex();            
            li a{
                display:block;
                line-height:1;
                text-align: center;
                position: relative;
                &:hover{
                color: $actcolor;
                text-decoration: none;
                }
            }
        }
    }
}
.callback{
    font-family: $logofont;
    @include flex();
    width: 325px;
    margin-right: 7.52%;
    .callback__link{
        color: $actcolor;
        text-decoration:underline; 
    }
    .callback__btn{
        width:161px;
        height:37px;
        &:hover{
            box-shadow: inset 0 0 14px #FFFFFF;
        }
    }
}
.calculate-section{
    padding-left: 82px; 
    padding-bottom: 48px;   
    position: relative;
    .project-slide{
        background:url(../assests/images/section1_bg.jpg) no-repeat 0 0 ;
        height: 707px;
        @include flex();
        .calculate-block{
            width:530px;
            margin-left: 60px;
            position: relative;
            top: -7px;
            .calculate-block__text{
                font-size:22px;
                margin-bottom:45px;
            }
            .calculate-block__form button{
                height: 51px;
                width: 207px;
                margin-right: 20px;
                font-size: 13px;
                &.calculate-block__form_submit{
                    background: none;
                    border: 1px solid $color;
                }
            }
        }
    }
    .soc-panel{
        height: 82px;
        width: 707px;
        position: absolute;
        top: 312px;
        left: -312px;
        transform: rotate(90deg);
        text-align: center;
    }
    .soc-panel__network{
        display:inline-block;
        margin-top: 30px;
        margin-right: 110px;
        text-transform: uppercase;
        font-size: $navsize;
        color:$actcolor;
        &::after{
            @include after();
            width: 51px;
            margin-left: 8px;
        }
    }
    .scroll-panel{
        @include headers();
        background: $bgcolor;
        cursor: pointer;
        height: 97px;
        width: 247px;
        position: absolute;
        bottom: 0;
        left: 0;
        text-align: center;
        z-index: 2;
        .scroll-panel__btn{
            display:inline-block;
            margin-top: 34px;
            font-size: $navsize;
        }
        .scroll-panel__svg{
            margin-left: 20px;
            vertical-align: middle;
            margin-bottom: 3px;
            }
        &:hover .scroll-panel__svg {
            fill:$color;
        } 
    }
}
.completed-projects-section{
    .projects-slides{
        @include flex();
        align-items: normal;
        .projects-slides__info{
            width:440px;
            margin-left:7%;
            padding-top:128px;
            h3{
                width: 253px;
                position: relative;
                &::after{
                    @include after();
                    width:92px;
                    position: absolute;
                    right: 0px;
                    bottom: 18px;
                }
            }
            p{
                font-size: 18px;
                line-height: 1.52;
                margin-bottom: 40px;
            }
            .information{
                @include flex();
                justify-content: flex-start;
                flex-wrap: wrap;
                margin-bottom:60px;
                .information__item{
                    width:42%;
                    margin-bottom: 35px;
                    font-size: 15px;
                    padding-right: 2%;
                    box-sizing: border-box;
                    .hdr{
                        color:$actcolor;
                        @include headers();
                        font-size: 18px;
                        margin-bottom: 5px;
                    }
                }
            }
            .pagination{
                span{
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 15px;
                    cursor: pointer;
                    &.pagination__left, &.pagination__right{
                        background: url(../assests/images/vector.png) no-repeat 0 0;
                        width:42px;
                        height: 14px;
                        margin-right: 25px;
                    }
                    &.pagination__right{
                        transform: rotate(180deg);
                        margin-right: 0;
                        margin-left: 10px;
                    }
                    &.pagination__item{
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background: #5a5a5a;
                        &.pagination__item_active, &:hover{
                            background: $color;
                        }
                    }
                }
            }
        }
        .projects-slides__visual{
            padding-top:59px;
            width: 845px;
            flex: 0 0 845px;
            overflow: hidden;
            .project-nav{
                @include flex();
                justify-content: flex-start;
                margin-bottom: 45px;
                li{
                    @include headers();
                    opacity: 0.3;
                    margin-right: 60px;
                    cursor: pointer;
                    padding-bottom: 7px;
                    &:hover{
                        opacity: 1;
                    }
                    &.project-nav__item_active{
                        opacity: 1;
                        color: $actcolor;
                        border-bottom: 1px solid $actcolor;
                    }
                }
            }
            .projects-slides-container{
                @include flex();
                position: relative;
                margin-bottom: 35px;
                .projects-slides-container__item1{
                    width:679px;
                    margin-right: 20px;
                }
            }
            .projects-navigation{
                width: 100%;
                height: 55px;
                position: relative;
                top: -50%;
                span{
                    background:$actcolor url(../assests/images/nav.png) no-repeat center center;
                    display: block;
                    position: absolute;
                    width: 55px;
                    height: 55px;
                    border-radius: 50%;
                    cursor: pointer;
                    margin-top:27px;
                    text-indent: -9999px;
                    box-shadow: 0 0 5px $actcolor;
                    &:hover{
                        box-shadow: 0 0 10px $color;
                    }
                    &.projects-navigation__prev{
                        display: none;
                    }
                    &.projects-navigation__next{
                        right:45px;
                    }
                } 
            }  
        }       
    }
    .online-control{
        background: url(../assests/images/online.png) no-repeat center bottom;
        @include headers();
        @include section-headers();
        margin: 0 auto 30px;
    }
    .video-container{
        text-align: center;
        z-index: 2;
        position: relative;
    }
}
.types-of-repair-section{
    background: $color url(../assests/images/BACKGROUND_LINE.jpg) no-repeat center 0;
    color:#363636;
    position: relative;
    top: -219px;
    padding-top: 98px+219px;
    .types-of-repair-section__descr{
        font-size: 20px;
        line-height: 1.6;
        max-width: 680px;
        margin:0 auto 90px;
        text-align:center;
        position: relative;
        &::before{
            @include after();
            width:55px;
            position: absolute;
            left: 50%;
            margin-left: -28px;
            top: -35px;
        }
    }
    .types-of-repair__form{
        margin: 0 auto 140px;
        max-width: 770px;
    }
    .types-of-repair__wrap{
        @include flex();
        label{
            opacity: 0.5;
            font-size: 15px;
        }
        input{
            max-width:231px;
            font-size: 20px;
            border:none;
            border-bottom:1px solid rgba(0, 0, 0, .3);
            &::placeholder {  opacity:1}             
        }
        button{
            @include btn();
            width:200px;
            height:51px;
            font-size: 15px;
        }
    }
    .types-of-repair__agreement{
        padding-top:33px;
        text-align:center;
        font-size:16px;
        input {
            display: none;
            width: 18px;
            height: 18px;
            vertical-align: middle;
            }
        span{
            position: relative;
            padding-left:25px;
            display:inline-block;
            &::before{
                @include after();
                width: 18px;
                height: 18px;
                position: absolute;
                top:0;
                left:0;
                cursor: pointer;
            }            
        }
        input:checked + span::before{
             background: $actcolor url(../assests/images/ico1.png) no-repeat 0 center;
        }   
            
    }
    .types-of-repair__hdr{
        background: url(../assests/images/types.png) no-repeat center bottom;
        @include headers();
        @include section-headers();
        margin: 0 auto 30px;
    }
    .types-of-repair__content{
        @include flex();
        max-width: 1236px;
        margin:0 auto 125px;
        & > div{
            width: 31.7%;
        }
        .types-of-repair__item1{
            background:url(../assests/images/type1.jpg) no-repeat center top;
        }
        .types-of-repair__item2{
            background:url(../assests/images/type2.jpg) no-repeat center top;
        }
        .types-of-repair__item3{
            background:url(../assests/images/type3.jpg) no-repeat center top;
        }
        .types-of-repair__tblock{
            background:$color;
            margin:75% 7% 0;
        }
    }
}